main {
  line-height: 1.5;
  padding: 5% calc(50% - 34em) 5%;
  position: relative;
  z-index: 2;
  color: black;
  background-color: #f5f5f5;
}

.checked {
  color: orange;
}

.unchecked {
  color: gray;
}

.rating {
  font-weight: bold;
  text-align: center !important;
  font-size: 17px !important;
}

.grid-container {
  display: grid;
}

.blog-container {
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(224, 221, 221);
  width: inherit;
  height: auto;
}

.blog-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post {
  margin: 10px;
  text-align: left;
  font-size: 19px;
}

.bkname {
  font-weight: bold;
  text-align: center;
}

.bkimg {
  object-fit: cover;
}

.blog-link {
  color: orange !important;
  font-size: inherit;
  font-weight: bold;
}

.blog-link:hover {
  color: rgb(192, 126, 3) !important;
}

@media (max-width: 849px) {
  .grid-container {
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-row-gap: 25px;
  }

  .blog-container {
    padding: 10px;
  }

  .bkimg {
    width: 125px;
    height: 180px;
  }

  .bkname {
    font-size: 20px;
  }

  .post {
    font-size: 15px;
  }
}

@media (min-width: 850px) and (max-width: 1000px) {
  main {
    padding: 5% 0 5%;
  }

  .grid-container {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 25px;
  }

  .blog-container {
    padding: 20px;
  }

  .bkimg {
    width: 200px;
    height: 300px;
  }

  .bkname {
    font-size: 20px;
  }

  .post {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  main {
    padding: 5% 5% 5%;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .blog-container {
    padding: 20px;
  }

  .bkimg {
    width: 200px;
    height: 300px;
  }

  .bkname {
    font-size: 30px;
  }
}
